{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src= "{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}
    <div style="background-color:#fff3cd; border-left:4px solid #ff9800; padding:12px; margin-top:20px; font-size:0.9em;">
      <strong style="color:#D20F39;"> ⚠️ Security Notice: </strong><br>
      I have been informed that phishing emails have been sent in my name regarding potential collaborations. 
      Please note that any message sent not from **Gmail address under my name is NOT from me**.
    </div>
  </div>


{% endif %}
